<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.worldcup2018details"
    android:layoutDirection="rtl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:layoutDirection="rtl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/category_schedule" />
        <activity
            android:name=".GroupA"
            android:layoutDirection="rtl"
            android:noHistory="true" />
        <activity
            android:name=".GroupB"
            android:noHistory="true" />
        <activity
            android:name=".GroupC"
            android:noHistory="true" />
        <activity
            android:name=".GroupD"
            android:noHistory="true" />
        <activity
            android:name=".GroupE"
            android:noHistory="true" />
        <activity
            android:name=".GroupF"
            android:noHistory="true" />
        <activity
            android:name=".GroupG"
            android:noHistory="true" />
        <activity
            android:name=".GroupH"
            android:noHistory="true" />
    </application>

</manifest>